.cache
.idea
**/outputs
CEA_model
CEA_model/Mierendorff_Partial_Baseline
CEA_model/Block0202023/2020_AB_E
CEA_model/Block0202023/2021_AB_E
CEA_model/Block0202023/2022_AB_E
CEA_model/Block0202023/2020_AB_E_NR
CEA_model/Block0202023/2021_AB_E_NR
CEA_model/Block0202023/2022_AB_E_NR
CEA_model/Block0202023/2020_AB_E_AR
CEA_model/Block0202023/2021_AB_E_AR
CEA_model/Block0202023/2022_AB_E_AR
CEA_model/Mierendorff_Full/2020_ger
**/schedules/*.csv
!**/Total_demand.csv
Postprocessed